Include /etc/ssh/sshd_config.d/*.conf

Protocol 2
PermitRootLogin no
PubkeyAuthentication yes
PasswordAuthentication no
UsePAM yes
KbdInteractiveAuthentication no
X11Forwarding no
PrintMotd no
AcceptEnv LANG LC_*

Subsystem	sftp /usr/lib/openssh/sftp-server
# Subsystem sftp internal-sftp

# Example of overriding settings on a per-user basis
# Match User anoncvs
#   ChrootDirectory /some/path/
#	  X11Forwarding no
#	  AllowTcpForwarding no
#	  PermitTunnel no
#	  AllowAgentForwarding no
#	  ForceCommand internal-sftp
